.container1{
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
    background-color: white;
}
.navbar_li{
    display:flex;
    justify-content: flex-end;
    margin-top: 0;
}
ul{
    display: flex; 
}
li{
 margin-left: 20px;
}
.search{
    margin-left: 20px;
}
.header_div{
    display: flex;
    width: 1200px;

}
.nav_div{
    margin-left:50%;
    margin-top: 30px;
}
.main_cover{
    width: 1200px;
    height: 550px;
}
.photo_div{
    margin-left: 5px;
}
h2{
    font-size: 40px;
}
h1{
    font-size: 30px;
}
/* section one */
.article_one{
    display: inline-block;
    margin-top: 60px;
    border:2px solid    #afafaf;
    box-shadow: black;

}
.more{
    font-size: 19px;
    padding-left:300px;
}
.description{
    padding-top: 20px;
}
.article_photo{
    width: 352px;
    height: 300px;
}
.article_two{
    display: inline-block;
    padding-left: 40px;
    border:2px solid    #afafaf;
}
.article_three{
    display: inline-block;
    padding-left: 40px;
    border:2px solid    #afafaf;
}
h3{
    padding-left: 50%;
}
.footer_div{
    background-color: rgb(32, 32, 32);
}
.foooter_logo , .footer_images,.footer_contacts,.footer_adress{
    display: inline-block;
}
.footer_div{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin-top: 70px;
    flex-wrap: wrap;
}
.section_one,.section_two,.section_three{
    flex-wrap: wrap;
}
.adress,.contact{
    font-size: 19px;
    color: whitesmoke;
}
.number,.misamarti{
    font-size: 13px;
    color: white;
}
/* media */
@media (max-width:480px){
    .footer_div{
        justify-content: center;
        flex-direction: column;
    }
    footer{
        margin-left: 50px;
    }
    .footer_adress,.footer_images,.footer_contacts{
        margin-left: 40px;
    }
    .footer_adress{
        padding-top: 20px;
    }
    .footer_contacts{
        padding-top: 5px;
    }
    .second_logo{
        display: none;
    }
    .f_and_i{
        padding-top: 20px;
    }
    .navbar_li{
        display: none;
    }
    .main_cover{
        width: 320px;
        height: 253px;
    }
    h2{
        font-size: 15px;
        margin-left: 50px;
    }
    .section_one,.section_two,.section_three{
        width: 480px;
        justify-content: center;
    }
    .
}