.container1{
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
    background-color: white;
}
.navbar_li{
    display:flex;
    justify-content: flex-end;
    margin-top: 0;
}
ul{
    display: flex; 
}
li{
 margin-left: 20px;
}
.search{
    margin-left: 20px;
}
.header_div{
    display: flex;
    width: 1200px;

}
.nav_div{
    margin-left:50%;
    margin-top: 30px;
}
.main_cover{
    width: 1200px;
    height: 550px;
}
.photo_div{
    margin-left: 5px;
}
h2{
    font-size: 40px;
}
h1{
    font-size: 30px;
}
/* section one */
.article_one{
    display: inline-block;
    margin-top: 60px;
    border:2px solid    #afafaf;
    box-shadow: black;

}
.more{
    font-size: 19px;
    padding-left:300px;
}
.description{
    padding-top: 20px;
}
.article_photo{
    width: 352px;
    height: 300px;
}
.article_two{
    display: inline-block;
    padding-left: 40px;
    border:2px solid    #afafaf;
}
.article_three{
    display: inline-block;
    padding-left: 40px;
    border:2px solid    #afafaf;
}
h3{
    padding-left: 50%;
}